<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <customBinding>
        <binding name="wsMionLocalGovBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
          <security messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" >
            <secureConversationBootstrap/>
          </security>
          <httpTransport keepAliveEnabled="false"  />
        </binding>

        <!--START: mefunim add -->
        <binding name="wsMefonimLocalGovBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880" />
          </textMessageEncoding>
          <security messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"  keepAliveEnabled="false" maxBufferSize="2147483647" />
        </binding>
        <!--END: mefunim add -->
      </customBinding>
    </bindings>
    <services>
      
      <service behaviorConfiguration="MoinLocalGovDataService.IMoinLocalGovServiceBehavior"
       name="MoinLocalGovDataService.MoinLocalGovService">
        <endpoint address="http://localhost/MoinLocalGovDataService/MoinLocalGovService.svc"
          binding="customBinding" bindingConfiguration="wsMionLocalGovBinding"
          name="MoinLocalGovDataServiceEndpoint" contract="MoinLocalGovDataService.IMoinLocalGovService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:81/MoinLocalGovDataService" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="MefunimLocalGovDataService.IMefonimGovServiceBehavior"
        name="Guardian.Moin.EvacueeModule.MefonimGovService">
        <endpoint address="http://crm11moin:81/MefonimGovService.svc"
          binding="customBinding" bindingConfiguration="wsMefonimLocalGovBinding"
          name="MefonimGovServiceEndpoint" bindingNamespace="http://malamteam/MefonimGovServiceEndpoint"
          contract="Guardian.Moin.EvacueeModule.IMefonimGovService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://crm11moin:81/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MoinLocalGovDataService.IMoinLocalGovServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceSecurityAudit serviceAuthorizationAuditLevel="SuccessOrFailure"
            messageAuthenticationAuditLevel="SuccessOrFailure" />
        </behavior>
        
        <!--START: mefunim add -->
        <behavior name="MefunimLocalGovDataService.IMefonimGovServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceSecurityAudit serviceAuthorizationAuditLevel="SuccessOrFailure"
            messageAuthenticationAuditLevel="SuccessOrFailure" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <!--END: mefunim add -->
        
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>-->
  </system.serviceModel>

</configuration>