<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel xdt:Transform="Replace">
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
              logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <customBinding>
        <binding name="wsMionLocalGovBinding" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <!--  שינוי גודל קובץ שמועבר -->
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
          <security authenticationMode="MutualCertificate" requireDerivedKeys="false"
                      messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                      requireSecurityContextCancellation="false">
            <secureConversationBootstrap messageProtectionOrder="SignBeforeEncrypt" />
          </security>
          <httpTransport keepAliveEnabled="false" />
        </binding>

        <!--START: mefunim add -->
        <binding name="wsMefonimLocalGovBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880" />
          </textMessageEncoding>
          <security authenticationMode="MutualCertificate" requireDerivedKeys="false"
                     messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                      requireSecurityContextCancellation="false">
            <secureConversationBootstrap messageProtectionOrder="SignBeforeEncrypt" />
          </security>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"  keepAliveEnabled="false" maxBufferSize="2147483647" />
        </binding>
        <!--END: mefunim add -->
      </customBinding>

    </bindings>
    <services>
      <service behaviorConfiguration="MoinLocalGovDataService.IMoinLocalGovServiceBehavior" name="MoinLocalGovDataService.MoinLocalGovService">
        <endpoint address="http://pnim-sharepoint:81/MoinLocalGovService.svc"
                  behaviorConfiguration="WCFServiceBehavior" binding="customBinding"
                  bindingConfiguration="wsMionLocalGovBinding" name="MoinLocalGovDataServiceEndpoint"
                  contract="MoinLocalGovDataService.IMoinLocalGovService">
          <identity>
            <dns value="gov.il" />
            <certificate encodedValue="" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""  name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://pnim-sharepoint:81/MoinLocalGovService.svc" />
          </baseAddresses>
        </host>
      </service>

      <!--START: mefunim add -->
      <service behaviorConfiguration="MefunimLocalGovDataService.IMefonimGovServiceBehavior"
        name="Guardian.Moin.EvacueeModule.MefonimGovService">
        <endpoint address="http://pnim-sharepoint:81/MefonimGovService.svc"
          binding="customBinding" bindingConfiguration="wsMefonimLocalGovBinding"
          name="MefonimGovServiceEndpoint" bindingNamespace="http://malamteam/MefonimGovServiceEndpoint"
          contract="Guardian.Moin.EvacueeModule.IMefonimGovService" >
          <identity>
            <dns value="gov.il" />
            <certificate encodedValue="" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""    name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://pnim-sharepoint:81/MoinLocalGovDataService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFServiceBehavior" />
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="MoinLocalGovDataService.IMoinLocalGovServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <!--serviceCredentials>
						<clientCertificate>
							<certificate findValue="DataPowerMng" x509FindType="FindBySubjectName" />
							<authentication revocationMode="NoCheck" />
						</clientCertificate>
						<serviceCertificate findValue="pnim-sharepoint" x509FindType="FindBySubjectName" />
					</serviceCredentials-->
          <serviceCredentials>
            <clientCertificate>
              <certificate findValue="pnim-sharepoint" x509FindType="FindBySubjectName" />
              <authentication revocationMode="NoCheck" />
            </clientCertificate>
            <serviceCertificate findValue="pnim-sharepoint" x509FindType="FindBySubjectName" />
          </serviceCredentials>
          <serviceSecurityAudit serviceAuthorizationAuditLevel="SuccessOrFailure"
                      messageAuthenticationAuditLevel="SuccessOrFailure" />
        </behavior>

        <!--START: mefunim add -->
        <behavior name="MefunimLocalGovDataService.IMefonimGovServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <clientCertificate>
              <certificate findValue="pnim-sharepoint" x509FindType="FindBySubjectName" />
              <authentication revocationMode="NoCheck" />
            </clientCertificate>
            <serviceCertificate findValue="pnim-sharepoint" x509FindType="FindBySubjectName" />
          </serviceCredentials>
          <serviceSecurityAudit serviceAuthorizationAuditLevel="SuccessOrFailure"
                      messageAuthenticationAuditLevel="SuccessOrFailure" />
          <serviceSecurityAudit serviceAuthorizationAuditLevel="SuccessOrFailure"
            messageAuthenticationAuditLevel="SuccessOrFailure" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

        </behavior>
        <!--END: mefunim add -->

      </serviceBehaviors>

    </behaviors>
  </system.serviceModel>
</configuration>