<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ShiltonMekomiConnectionString" connectionString="Data Source10.202.8.111;Initial Catalog=ShiltonMekomi;User ID=uleadDB;Password=UauA1234" providerName="System.Data.SqlClient" />
    <add name="ShiltomMekomiConnectionString" connectionString="Data Source=10.202.8.111;Initial Catalog=ShiltonMekomi;Persist Security Info=True;User ID=uleadDB;Password=UauA1234" providerName="System.Data.SqlClient" />
    <add name="MEDAMConnectionString" connectionString="Data Source=crm11moin;Initial Catalog=MEDAM;Persist Security Info=True;User ID=uleadDB;Password=UauA1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>