<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel  xdt:Transform="Replace">
    
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    
    <bindings>
      <customBinding>
        <binding name="MefonimProdClientBinding">
          <security authenticationMode="MutualCertificate" requireDerivedKeys="false"
                        messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSecurityContextCancellation="true">
            <secureConversationBootstrap messageProtectionOrder="SignBeforeEncrypt" />
          </security>
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" maxReadPoolSize="64" maxWritePoolSize="16"  writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880" />
          </textMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
                         keepAliveEnabled="false"
                         allowCookies="false"
                         authenticationScheme="Anonymous"
                         bypassProxyOnLocal="false"
                         hostNameComparisonMode="StrongWildcard"
                         proxyAuthenticationScheme="Anonymous"
                         realm="" transferMode="Buffered"
                         unsafeConnectionNtlmAuthentication="false" 
                         useDefaultWebProxy="true"
                         />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://xxx:81/MefonimGovService.svc" binding="customBinding"
        bindingConfiguration="MefonimProdClientBinding" contract="NSMefonimGovService.IMefonimGovService"  behaviorConfiguration="MefonimProdClientBehavior"
        name="MefonimGovServiceEndpoint">
        <identity>
          <dns value="xxx" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MefonimProdClientBehavior">
          <clientCredentials>
          <clientCertificate findValue="xxx" storeLocation="LocalMachine"
                          x509FindType="FindBySubjectName" />
          <serviceCertificate>
            <defaultCertificate findValue="xxx" storeLocation="LocalMachine"
                              x509FindType="FindBySubjectName" />
            <authentication trustedStoreLocation="LocalMachine" />
          </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>