<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="MefonimGovServiceEndpoint">
          <security defaultAlgorithmSuite="Default" authenticationMode="SspiNegotiated"
            requireDerivedKeys="true" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
            messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSignatureConfirmation="false">
            <localClientSettings detectReplays="true" />
            <localServiceSettings detectReplays="true" />
          </security>
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
              maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880" />
          </textMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="MefonimProdClientBinding">
          <security authenticationMode="MutualCertificate" requireDerivedKeys="false"
            messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSecurityContextCancellation="true">
            <secureConversationBootstrap messageProtectionOrder="SignBeforeEncrypt" />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap11WSAddressingAugust2004" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
              maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880" />
          </textMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false"
            hostNameComparisonMode="StrongWildcard" keepAliveEnabled="false"
            maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/MoinLocalGovDataService/MefonimGovService.svc"
        behaviorConfiguration="Graph" binding="customBinding" bindingConfiguration="MefonimGovServiceEndpoint"
        contract="t.IMefonimGovService" name="dev">
        <identity>
          <servicePrincipalName value="host/liorglap.goffice.local" />
        </identity>
      </endpoint>
      <endpoint address="http://crm11moin:81/MefonimGovService.svc"
        binding="customBinding" bindingConfiguration="MefonimGovServiceEndpoint"
        contract="t.IMefonimGovService" name="test">
        <identity>
          <servicePrincipalName value="host/CRM11MOIN.gdevdom.goffice.local" />
        </identity>
      </endpoint>

      <endpoint address="http://xxx:81/MefonimGovService.svc"
        behaviorConfiguration="MefonimProdClientBehavior" binding="customBinding"
        bindingConfiguration="MefonimProdClientBinding" contract="t.IMefonimGovService"
        name="prod">
        <identity>
          <dns value="xxx" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Graph">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="MefonimProdClientBehavior">
          <clientCredentials>
            <clientCertificate findValue="xxx" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <defaultCertificate findValue="xxx" storeLocation="LocalMachine"
                                x509FindType="FindBySubjectName" />
              <authentication trustedStoreLocation="LocalMachine" />
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>