<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="MefonimGovServiceEndpoint">
          <security defaultAlgorithmSuite="Default" authenticationMode="SspiNegotiated"
            requireDerivedKeys="true" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
            messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSignatureConfirmation="false">
            <localClientSettings detectReplays="true" />
            <localServiceSettings detectReplays="true" />
          </security>
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
              maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880" />
          </textMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/MoinLocalGovDataService/MefonimGovService.svc"
        behaviorConfiguration="Graph" binding="customBinding" bindingConfiguration="MefonimGovServiceEndpoint"
        contract="t.IMefonimGovService" name="dev">
        <identity>
          <servicePrincipalName value="host/liorglap.goffice.local" />
        </identity>
      </endpoint>
      <endpoint address="http://crm11moin:81/MefonimGovService.svc"
        binding="customBinding" bindingConfiguration="MefonimGovServiceEndpoint"
        contract="t.IMefonimGovService" name="test">
        <identity>
          <servicePrincipalName value="host/CRM11MOIN.gdevdom.goffice.local" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Graph">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>